<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGSclient.Properties.Settings.connection_String" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;H:\My files\Dipoma\Programming III\Visual Studio\Concord - AT3\ConcordClient\SGSclient\Database.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>